.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #100f0f;
  overflow: hidden;
  display: flex;

  justify-content: space-around;
  align-items: center;
  color: #f1f1f1;
  padding: 1rem;
  font-size: 1.3rem;
  height: 8vh;
}
.header_content {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  color: #f1f1f1;
}

.header h3 {
  font-style: oblique;
  z-index: 100;
}
a {
  text-decoration: none;
  color: white;
}
footer {
  background-color: teal;
  padding: 0.1rem;
  text-align: center;
}

.badge {
  margin-left: 5px;
  background-color: deeppink;
  font-size: 15px;
  padding: 2px;
  border-radius: 20%;

  font-weight: bold;
}

header ul {
  display: flex;
  text-decoration: none;
  gap: 1.3rem;
}

header ul li {
  color: #f3efe0;
  font-weight: 500;
  list-style-type: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
header ul li:hover {
  /* color: #f3efe0; */
}

@media screen and (max-width: 640px) {
  .header_content {
    display: none;
  }
  .header-ul {
    display: none;
  }
  .header h3 {
    margin-left: -5rem;
  }
}
